# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars.json
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# JetBrains IDEs (IntelliJ/PyCharm/etc.)
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env

# Logs
*.log
